
h1 {
  margin: 0.5rem 0 0;
  font-size: 2rem;
  background-color: #3e0f15;
  text-align: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.Navigation {
  background-color: #3e0f15;
  position: fixed;
  top: 45px;
  left: 0;
  width: 100%;
  
}

.Navigation a{
  color: white;
  text-decoration: none;
  padding: 6px 10px;
}

body {
  padding-top: 50px; /* ajusta según lo alto que te quede el header */
}

h2 {
  color: #3e0f15;
  border-bottom: 2px solid #003366;
  padding-bottom: 0.25rem;
  margin-top: 1.5rem;
}

article {
  margin-bottom: 1rem;
  background-color: rgb(248, 194, 194);
  border-radius: 10px;
  padding: 14px 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,.08);
}


.page{
           
  margin: 20px;         
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.profile {
  background-color: rgb(248, 194, 194);
  border-radius: 10px;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 0 0 250px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

img {
  width: 150px;
  height: 200px;
  border-radius: 6px;
  margin-bottom: 10px;
  
}

.contact{
  text-align: left;
  font-size: 0.9rem;
}

.experience{     
  margin-left: auto;    
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer {
  text-align: center;
  font-size: 0.9rem;
  color:white;
  background: #3e0f15;
  box-shadow: none;
  margin-bottom: 2rem;
}

html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 120px; /*Ajusta el contingut per a que no es tapi*/
}

@media (max-width: 900px) {

  .page {
    flex-direction: column;
    align-items: center;     
  }

  .profile {
    width: 100%;
    max-width: 340px;
    margin-bottom: 20px;
  }

  .about {
    width: 100%;
  }

  #experience {
    width: 100%;
  }

  body {
    margin: 0 10px;
  }
}